<?php
/** @var \Avanti\MosaicManager\Block\Index $block */
$components = $block->getComponentsByMosaicCode();
foreach ($components as $component){?>
    <p><?=__('Name') . ': ' . $component['name'];?></p>
    <p><?=__('Description') . ': ' . $component['description'];?></p>
    <p><?=__('Url') . ': ' . $component['url'];?></p>
    <p><img src="<?= $this->helperData->getImageUrl($component['image']) ?>"
            title="<?= $component['name']?> Image"></p>
    <hr>
<?php }?>
