<?php
$blockGrid = $block->getBlockGrid();
$gridJsObjectName = $blockGrid->getJsObjectName();
?>
<?= $block->getGridHtml() ?>
<input type="hidden" name="mosaic_components" id="in_mosaic_components" data-form-part="avanti_mosaicmanager_mosaic_form" value="" />
<script type="text/x-magento-init">
    {
        "*": {
            "Avanti_MosaicManager/mosaic/assign-components": {
                "selectedComponents": <?= /* @escapeNotVerified */ $block->getComponentsJson() ?>,
                "gridJsObjectName": <?= /* @escapeNotVerified */ '"' . $gridJsObjectName . '"' ?: '{}' ?>
            }
        }
    }
</script>
<script>
    require('mage/apply/main').apply();
</script>
